# Functions/Methods in Ruby 
* ( This is based on previous lecture)

In [4]:
def reverse_string(str)
  reversed = ''
  i = str.length - 1
  while i >= 0
    reversed += str[i]
    i -= 1
  end
  return reversed
end

:reverse_string

In [5]:
original_str = "Hello, world!"
reversed_str = reverse_string(original_str)
puts reversed_str

!dlrow ,olleH

Try the above function / method using for , do, until loops strategy. This will give you the practice of the material
    we covered for Ruby in the last lecture. There is a ruby "reverse" method for string. You can study it but donot use it for this 
        exercise

# Arrays in Ruby

## Creating an Array

In [1]:
names = Array.new(20)
puts names.size  # This returns 20
puts names.length # This also returns 20

20
20

In [3]:
# We are creating an empty array
names = Array.new()
puts names.size  # This returns 0
puts names.length # This also returns 0

0
0

## Array initialization

In [6]:
names = Array.new(10,1)
puts names

1
1
1
1
1
1
1
1
1
1

In [7]:
p names

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [10]:
names = Array (0..9)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Clear the Deck

In [50]:
months = Array.new(12,"months")
#puts(months)
months.clear
months.empty?

true

## Creating an Array with a Block

In [51]:
num = Array.new (10) { |e| e = e ** 2 }
print num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Using [] to initialize an array

In [52]:
arr = [1, 2, 3, 4, 5, 6]
arr[2]    #=> 3
arr[100]  #=> nil
arr[-3]   #=> 4
arr[2, 3] #=> [3, 4, 5]
arr[1..4] #=> [2, 3, 4, 5]
arr[1..-3] #=> [2, 3, 4]

[2, 3, 4]

## Using Range and %w Operators

In [53]:
digits = Array(0..9)
year = %w[2000, 2001, 2002, 2003, 2004]

["2000,", "2001,", "2002,", "2003,", "2004"]

## Concatination of Arrays

In [54]:
arr1 = [1, 2, 3]
arr2 = [4, 5, 6]
result = arr1 + arr2
puts result.inspect
# Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [56]:
arr1 = [1, 2, 3]
arr1 << 4
puts arr1.inspect
arr1 << arr2

[1, 2, 3, 4]

[1, 2, 3, 4, [4, 5, 6]]

## Set Operations on Array

In [29]:
arr1 = [1, 2, 3]
arr2 = [4, 5, 3]
arr3 = arr1 & arr2
arr4 = arr1 - arr2
arr5 = arr1 | arr2
print arr3
print arr4
print arr5

[3][1, 2][1, 2, 3, 4, 5]

## Arrays as Stack

In [31]:
fruit = %w[apple orange banana]
fruit.pop
print fruit
fruit.push "mango"
print fruit
number = [1,2,3,4,7]
number.pop
print number

["apple", "orange"]["apple", "orange", "mango"][1, 2, 3, 4]

## Comparing Arrays

In [32]:
arr1 = [1, 2, 3]
arr2 = [1, 2, 3]

puts arr1 == arr2  # Output: true

true

## Multi Dimensional Arrays

In [6]:
output = [[1,1,1,1,1,1,1,1,1],
          [2,2,2,2,2,2,2,2,2],
          [3,3,3,3,3,3,3,3,3],
          [4,4,4,4,4,4,4,4,4],
          [5,5,5,5,5,5,5,5,5],
          [6,6,6,6,6,6,6,6,6],
          [7,7,7,7,7,7,7,7,7],
          [8,8,8,8,8,8,8,8,8],
          [9,9,9,9,9,9,9,9,9]]
puts output[0][1]
arr2 = output.transpose
print arr2
print arr2.flatten

1
[[1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9]][1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Hashes in Ruby

### Creating Hashes

In [39]:
months = Hash.new
months.empty?
months.length
months.size

0

### Deafult Value

In [40]:
months = Hash.new("month")
months = Hash.new "month"
# with any key value it will return month
months[0]
months[72]

"month"

### Initializing Hashes

In [41]:
# Ruby program to illustrate 
# use of []
# Using []
p Hash["x", 30, "y", 19] 
p Hash["x" => 30, "y" => 19]

{"x"=>30, "y"=>19}
{"x"=>30, "y"=>19}

{"x"=>30, "y"=>19}

In [42]:
# Ruby program to illustrate 
# use of new method

# Using new method
a = Hash.new("StonyBrookUniversity")
p a["S"] = 40
p a["t"] = 49
p a["o"] 
p a["n"]
p a["y"]
p a["B"]
p a["r"]

40
49
"StonyBrookUniversity"
"StonyBrookUniversity"
"StonyBrookUniversity"
"StonyBrookUniversity"
"StonyBrookUniversity"

"StonyBrookUniversity"

In [8]:
# Ruby program to illustrate 
# use of try_convert method 

# Using try_convert method
p Hash.try_convert({3=>8})
p Hash.try_convert("3=>8")

{3=>8}
nil

### Acessing Hashes

In [44]:
# Ruby program to illustrate 
# use of []

a = {"x" => 45, "y" => 67}

# Using []
p a["x"] 
p a["z"]

45
nil

## Iterating over hashes

In [46]:
=begin

Iterating Over Hashes

When iterating over hashes, we need two placeholder variables to represent each key/value pair.
=end
restaurant_menu = {
  "noodles" => 4,
  "soup" => 3,
  "salad" => 2
}

restaurant_menu.each do |item, price|
  puts "#{item}: #{price}"
end

=begin
    In the example above, we create a new hash called restaurant_menu.
    Then, we loop through the restaurant_menu hash and assign the key to item and the value to price for each iteration.
    Finally, we puts out:

noodles: 4
soup: 3
salad: 2

Instructions

    Use .each to iterate over the secret_identities hash.
    Use puts to print each key-value pair, separated by a colon and a space (:), to the console, just like the example above.
=end

noodles: 4
soup: 3
salad: 2

{"noodles"=>4, "soup"=>3, "salad"=>2}

In [48]:
# Ruby program to illustrate 
# use of delete method

a = {"x" => 34, "y" => 60}

# Using delete method
p a.delete("x") 
p a.delete("z")

34
nil

In [49]:
# Ruby program to illustrate 
# use of delete_if method

a = {"x" => 34, "y" => 60}

# Using delete_if method
p a.delete_if {|key, value| key >= "y"}

{"x"=>34}

{"x"=>34}

In [50]:
# Ruby program to illustrate 
# use of each method

a = {"x" => 34, "y" => 60}

# Using each method
a.each {|key, value| puts "the value of #{key} is #{value}" }

the value of x is 34
the value of y is 60

{"x"=>34, "y"=>60}

In [51]:
# Ruby program to illustrate 
# use of merge method

a1 = { "g" => 23, "h" => 25 }
a2 = { "h" => 2343, "i" => 4340 }

# Using merge method
p a1.merge(a2)

{"g"=>23, "h"=>2343, "i"=>4340}

{"g"=>23, "h"=>2343, "i"=>4340}

# Blocks in Ruby

## Example 1

In [16]:
# Ruby program to demonstrate the block

# here 'each' is the method name 
# or block name 
# n is the variable
 ["ABC", "DEF", 55].each { |n| print n}

ABCDEF55

["ABC", "DEF", 55]

## Example 2

In [17]:
# Ruby program to demonstrate how block returns the values

# here two methods called i.e 'select' and 'even?'
# even? method is called inside the block
puts [1, 2, 3, 4, 5].select { |num| num.even? }

2
4

## Example 3 
### Block with Two Variables

In [18]:
 square = "some shape"
 sum = 0
 [1, 2, 3, 4].each do |value; square|
     puts square = value * value
 # this is a different variable
 sum += square
 end
 puts sum
 puts square

1

4

9

16
30
some shape

## Example 4
##### More examples on Blocks

In [19]:
puts ("Example 4-1")
3.times do |i| 
puts( i ) 
end
########################
3.times { |i| 
puts( i ) 
}

###### using Range Operator
puts ( "Example 4-1")
(1..3).each do |i| 
puts(i)  
end 
###### On array 
puts ("Example 4-2")

arr = ['one','two','three','four'] 
arr.each do |s| 
puts(s) 
end

Example 4-1
0
1
2
0
1
2
Example 4-1
1
2
3
Example 4-2
one
two
three
four

["one", "two", "three", "four"]

## Example 4-A
### Concept of yield and Block in Ruby

In [18]:
def gimme
    yield
end

gimme

LocalJumpError: no block given (yield)

In [19]:
def gimme
    if block_given?
        yield
    else
        puts " I am blockless!"
    end
end

gimme

 I am blockless!

In [21]:
gimme { puts "Hello CSE/ISE 337"}

Hello CSE/ISE 337

In [22]:
def gimme
    if block_given?
        yield
        yield
    else
        puts " I am blockless!"
    end
end

:gimme

In [23]:
gimme { puts "Hello CSE/ISE 337"}

Hello CSE/ISE 337
Hello CSE/ISE 337

In [1]:
def gimme
    if block_given?
        yield
    else
        puts "Oops, no block."
    end
    puts " You are welcome." # execute right after yield
end

gimme { print "Thank you\n"}

Thank you
 You are welcome.

# Procs in Ruby

## Example 1

In [29]:
# Ruby program to illustrate Procs 

# Creating proc 
example = Proc.new{"Hello World"} 

# Executing proc 
# Using .call method 
puts example.call

Hello World

## Example 2

In [30]:
# Ruby program to illustrate Procs 

# Creating proc 
a = Proc.new {|x, y| "x = #{x}, y = #{y}" } 

# Executing proc 
puts a.call(1, 2)	 
puts a.call([2, 1])	 
puts a.call(3, 4, 8) 
puts a.call(9)

x = 1, y = 2
x = 2, y = 1
x = 3, y = 4
x = 9, y =

# Passing Block as Argument to a function

In [20]:
# block is not being used as an argument
def sequence (n, m, c)
    i =0
    while ( i < n)
        yield i * m + c
        i += 1
    end
end

sequence(5, 2, 2) {|x| puts x}

2
4
6
8
10

In [21]:
# argument has been created with & sign to take the block
# it should be the last argument as well
def sequence (n, m, c, &b)
    i =0
    while ( i < n)
        b.call(i * m + c)
        i += 1
    end
end

sequence(5, 2, 2) {|x| puts x}

2
4
6
8
10

In [22]:
# Proc is given as an argument
def sequence (n, m, c, b)
    i =0
    while ( i < n)
        b.call (i * m + c)
        i += 1
    end
end

p = Proc.new {|x| puts x}
sequence(5, 2, 2, p)

2
4
6
8
10

# Blocks within Blocks

In [23]:
# This is a very good example. Try to comprehend it!
# This is very useful if you are considering Ruby for the future work!

def caps( anarg )  
    yield( anarg ) 
end 

["hello","good day","how do you do"].each{  
|s|  
    caps(s){ |x| x.capitalize! 
        puts( x ) 
    }   
}

Hello
Good day
How do you do

["Hello", "Good day", "How do you do"]

# Lambda

In [2]:
# Ruby program to illustrate lambda 

# Creating lambda 
times_one = ->(x){ x * 2 } 

# Displaying result 
puts times_one.call(10) 

# Creating lambda 
times_two = lambda{"Stony Brook University\t"*3} 

# Displaying result 
puts times_two.call

20
Stony Brook University	Stony Brook University	Stony Brook University

# BEGIN and END Block in Ruby

In [25]:
# Ruby Program of BEGIN and END Block 
# The end part does work in the Jupyter notebook But it run on the terminal!

# BEGIN block 
BEGIN { 

a = 4
b = 3
c = a + b 
		
# BEGIN block code 
puts "This is BEGIN block code"
puts c 

} 
	
# END block 
END { 

a = 4
b = 3
c = a * b 
		
# END block code 
puts "This is END block code"
puts c 
} 
	
# Code will execute before END block 
puts "Main Block"

This is BEGIN block code
7
Main Block

# Iterators in Ruby

In [11]:
# Ruby program to illustrate each iterator

#!/usr/bin/ruby 

# using each iterator
# here collection is range
# variable name is i
(0..9).each do |i|
	
	# statement to be executed
	puts i
	
end

a = ['St', 'on', 'y', 'Brok', 'University']

puts "\n"

# using each iterator
# here collection is an array
a.each do|arr|

	# statement to be executed
	puts arr
	
end

0
1
2
3
4
5
6
7
8
9

St
on
y
Brok
University

["St", "on", "y", "Brok", "University"]

In [12]:
# Ruby program to illustrate the collect iterator

#!/usr/bin/ruby

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# using collect iterator
# printing table of 5
b = a.collect{ |y| (5 * y) }
puts b

5
10
15
20
25
30
35
40
45
50

#### time iterator

In [13]:
# Ruby program to illustrate time iterator

#!/usr/bin/ruby

# using times iterator by providing 
# 7 as the iterate value
7.times do |i|
	puts i
end

0
1
2
3
4
5
6

7

In [14]:
# Ruby program to illustrate the upto iterator

#!/usr/bin/ruby

# using upto iterator
# here top value is 4
# bottom value is 7
4.upto(7) do |n| 
puts n 
end

# here top > bottom
# so no output
7.upto(4) do |n| 
puts n 
end

4
5
6
7

7

In [ ]:
# Ruby program to illustrate the downto iterator

#!/usr/bin/ruby

# using downto iterator
# here top value is 7
# bottom value is 4
7.downto(4) do |n| 
puts n 
end

# here top < bottom
# so no output
4.downto(7) do |n| 
puts n 
end

In [15]:
# Ruby program to illustrate step iterator

#!/usr/bin/ruby

# using step iterator
# skipping value is 10
# (0..60 ) is the range
(0..60).step(10) do|i|
	puts i
end

0
10
20
30
40
50
60

0..60

In [16]:
# Ruby program to illustrate Each_line iterator

#!/usr/bin/ruby

# using each_line iterator
"Welcome\nto\nStony Brook University\nPortal".each_line do|i|
puts i
end

Welcome
to
Stony Brook University
Portal

"Welcome\nto\nStony Brook University\nPortal"

# Range Operator in Ruby

In [7]:
range1 = (1..10).to_a
range2 = ('bar'..'bat').to_a

puts "#{range1}"
puts "#{range2}"

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
["bar", "bas", "bat"]

In [8]:
# Assume a range
digits = 0..9

puts digits.include?(5)
ret = digits.min
puts "Min value is #{ret}"

ret = digits.max
puts "Max value is #{ret}"

ret = digits.reject {|i| i < 5 }
puts "Rejected values are #{ret}"

digits.each do |digit|
   puts "In Loop #{digit}"
end

true
Min value is 0
Max value is 9
Rejected values are [5, 6, 7, 8, 9]
In Loop 0
In Loop 1
In Loop 2
In Loop 3
In Loop 4
In Loop 5
In Loop 6
In Loop 7
In Loop 8
In Loop 9

0..9

In [9]:
score = 70

result = case score
   when 0..40 then "Fail"
   when 41..60 then "Pass"
   when 61..70 then "Pass with Merit"
   when 71..100 then "Pass with Distinction"
   else "Invalid Score"
end

puts result

Pass with Merit

In [10]:
if ((1..10) === 5)
   puts "5 lies in (1..10)"
end

if (('a'..'j') === 'c')
   puts "c lies in ('a'..'j')"
end

if (('a'..'j') === 'z')
   puts "z lies in ('a'..'j')"
end

5 lies in (1..10)
c lies in ('a'..'j')

# File I/O in Ruby

### See the Slides and play with the code on  your own computer

# Exceptions in Ruby

In [57]:
begin 
x = 1/0 
rescue Exception 
x = 0 
puts( $!.class ) # displays the class name
puts( $! ) # displaying the error message
end

ZeroDivisionError
divided by 0

In [58]:
begin
   file = open("/unexistant_file")
   if file
      puts "File opened successfully"
   end
rescue
      file = STDIN
end
print file, "==", STDIN, "\n"

#<IO:0x000001381bd58d48>==#<IO:0x000001381bd58d48>

In [ ]:
begin
   file = open("/unexistant_file")
   if file
      puts "File opened successfully"
   end
rescue
   fname = "existant_file"
   retry
end

In [2]:
begin
   raise 'A test exception.'
rescue Exception => e
   puts e.message
   puts e.backtrace.inspect
ensure
   puts "Ensuring execution"
end

A test exception.
["(irb):1:in `<top (required)>'", "C:/Ruby32-x64/lib/ruby/3.2.0/irb/workspace.rb:119:in `eval'", "C:/Ruby32-x64/lib/ruby/3.2.0/irb/workspace.rb:119:in `evaluate'", "C:/Ruby32-x64/lib/ruby/3.2.0/irb/context.rb:502:in `evaluate'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/backend.rb:55:in `eval'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/backend.rb:11:in `eval'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/kernel.rb:203:in `execute_request'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/kernel.rb:139:in `dispatch'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/kernel.rb:127:in `run'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/command.rb:106:in `run_kernel'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/lib/iruby/command.rb:37:in `run'", "C:/Ruby32-x64/lib/ruby/gems/3.2.0/gems/iruby-0.7.4/bin/iruby:5:in `<top (required)>'", "C:/Ruby32-x64/bin/iruby:32:in `load'", "C:/Ruby32-x64/bin/iruby:32:in `<main>'"]
Ensuring execution

In [9]:
begin  
   puts 'I am before the raise.'  
   raise 'An error has occurred.'  
   puts 'I am after the raise.'  
rescue  
   puts 'I am rescued.'  
end  
puts 'I am after the begin block.'

I am before the raise.
I am rescued.
I am after the begin block.

#### Catch and Throw Exception

In [6]:
r = catch (:done) do    
i = 0
while i < 10
    throw :done, "Quitting now ..." if i == 5
    puts i
    i = i + 1
end
puts ("still in catch")
end
puts r

0
1
2
3
4
Quitting now ...

In [5]:
def process_data(data)
  catch :done do
    data.each do |item|
      if item == "stop"
        throw :done
      else
        puts item
      end
    end
  end
end

data = ["start", "continue", "stop", "end"]
process_data(data)

start
continue

### Problem 1

In [ ]:
=begin

What You'll Be Building

In this project, we'll build a program that takes a user's input, then builds a 
hash from that input. Each key in the hash will be a word from the user; each value will be the number of times that word occurs. 
For example, if our program gets the string "the rain in Spain falls mainly on the plain," it will return

the 2
falls 1
on 1
mainly 1
in 1
rain 1
plain 1
Spain 1

A visual representation of data like this is called a histogram.
Instructions

Hit Save & Submit Code to start building your own histogram!
=end