# Ruby Baiscs
```
Todays Lecture (Lecture -9)
Date : 2/19/2024
We will cover
* Ruby Basics
* Data Types
* Control Statements
```

## Ruby Basics

##### Print statement

In [ ]:
print "Hello World";

In [ ]:
print 'Hello world'

In [ ]:
puts "Abid Malik"

 ##### Example 1 -- puts command

In [ ]:
puts "Hello World!"
puts "Hello Again"
puts "I like typing this."
puts "This is fun."

##### Example 2

In [ ]:
x = 10
puts "The value of x is #{x}"

'''
x = 10 : It means that we are taking a variable x and giving it a value of 10.
puts "The value of x is #{10}"
#{x} : Notice that in place of #{x}, the value of x got printed on the screen i.e. 10.
It is because whatever we write in "#{}" is first evaluated and then its value gets printed on the screen.
'''

In [ ]:
# Interpolation
name = "Alice"
age = 30
puts "Hello, my name is #{name} and I am #{age} years old."
# Concatination
name = "Bob"
age = 25
puts "Hello, my name is " + name + " and I am " + age.to_s + " years old."

##### Example 3

In [25]:
x = 10
y = 5
puts "The sum of #{x} and #{y} is #{x+y}"

The sum of 10 and 5 is 15

##### Example 4

In [22]:
puts "."*10

..........

In [23]:
puts "Fun"*3

FunFunFun

In [24]:
puts "Codes"+"Dope"

CodesDope

###### Question : What is the output of the following code?

In [21]:
puts "CSE/ISE"*3

CSE/ISECSE/ISECSE/ISE

In [ ]:
puts"""Once there was a boy.
He wanted to be a programmner.
He found Ruby.
Now, he is a programmer.
"""

In [18]:
a = 5
b = "5"
c = 5.0
d = 2.3
e = "Hello"
puts "#{a.class}\n#{b.class}\n#{c.class}\n#{d.class}\n#{e.class}"

Integer
String
Float
Float
String

In [19]:
name = "CSE/ISE 337 Spring 2024"
name.inspect
## inspect is a String class method in Ruby which is used to return a printable version of the given string, 
## surrounded by quote marks, with special characters escaped.

"\"CSE/ISE 337 Spring 2024\""

##### Variables

In [ ]:
# Local Variables
age = 10
_Age = 20
#test uninitialize variable
"""
In Ruby, if you attempt to reference a local variable that has not been initialized, 
you'll typically encounter an error. This is because Ruby requires variables to be initialized before they can be used. 
Attempting to use an uninitialized local variable will result in a NameError.
"""
puts age
puts _Age

In [ ]:
# Local Variable shadowing
x = 10
puts "Outer x: #{x}"  # Output: Outer x: 10

def example_method
  x = 20
  puts "Inner x: #{x}"  # Output: Inner x: 20
end

example_method

puts "Outer x after method call: #{x}"  # Output: Outer x after method call: 10

In [ ]:
# Instance Variable
class Customer 
      
 def initialize(id, name, addr) 
       
# Instance Variables      
 @cust_id = id 
 @cust_name = name 
 @cust_addr = addr
 @cust_test    
 end
   
 # displaying result 
 def display_details() 
 puts "Customer id #@cust_id"
 puts "Customer name #@cust_name"
 puts "Customer address #@cust_addr"
 puts "Testing instance variable #{@cust_test}"    
 end
end
  
# Create Objects 
cust1 = Customer.new("1", "John", "Wisdom Apartments, Ludhiya") 
cust2 = Customer.new("2", "Poul", "New Empire road, Khandala")
#cust3 = Customer.new()
  
# Call Methods 
cust1.display_details() 
cust2.display_details()

In [ ]:
# Ruby program to illustrate  
# the Class  Variables 
  
class Customer 
      
# class variable 
 @@no_of_customers = 0
   
 def initialize(id, name, addr) 
       
# An instance Variable 
 @cust_id = id 
 @cust_name = name 
 @cust_addr = addr 
 end
  
# displaying result  
 def display_details() 
 puts "Customer id #@cust_id"
 puts "Customer name #@cust_name"
 puts "Customer address #@cust_addr"
 end
   
 def total_no_of_customers() 
       
# class variable 
 @@no_of_customers += 1
 puts "Total number of customers: #@@no_of_customers"
    end
end
  
# Create Objects 
cust1 = Customer.new("1", "John", "Wisdom Apartments, Ludhiya") 
cust2 = Customer.new("2", "Poul", "New Empire road, Khandala") 
  
# Call Methods 
cust1.display_details() 
cust1.total_no_of_customers() 
cust2.display_details() 
cust2.total_no_of_customers()

In [ ]:
# Ruby program to illustrate  
# the Global  Variables 
  

# global variable 
$global_variable = 10
class Class1 
 def print_global 
 puts "Global variable in Class1 is #$global_variable"
 end
end
class Class2 
 def print_global 
 $global_variable += 10    
 puts "Global variable in Class2 is #$global_variable"
 end
end
class1obj = Class1.new
class1obj.print_global 
class2obj = Class2.new
class2obj.print_global
class1obj.print_global

##### Comments

In [ ]:
=begin
Testing Testing !!!!
=end
# Used for multi line comments

In [ ]:
# Testing !!!!

#### Data Types in Ruby

##### Number -Integer

In [ ]:
# Ruby program to illustrate the
# Numbers Data Type
 
# Integer type
distance = 12
 
# both integer and float type
time = 9.87 / 3600
#speed = distance / time

#speed = distance / 4
puts "The average speed of a sprinter is #{speed} km/h"

#### Strings

In [ ]:
# Ruby program to demonstrate  
# the creation of strings 
  
# using single quotes 
puts 'Ruby String using single quotes'
  
# using double quotes 
puts "Ruby String using double quotes"
  
# storing string into variables 
str1 = "CSE"
str2 = 'ISE'
  
# displaying string 
puts str1 
puts str2

In [ ]:
# String interpolation
name = "Alice"
age = 30

puts "Hello, my name is #{name} and I am #{age} years old."

In [26]:
# Ruby program to demonstrate the difference 
# while using single and double quotes to 
# create strings 

# storing string into variables 
str1 = "CSE"
str2 = 'ISE'

# using single quotes 
puts 'Cannot Interpolate str1: #{str1}'

# using double quotes 
puts "Interpolating str2: #{str2}"

Cannot Interpolate str1: #{str1}
Interpolating str2: ISE

In [ ]:
# Ruby program to illustrate that  
# string are objects in Ruby 
  

  
# using double quotes 
str = "Testing 123"
  
puts str 
  
# using new method to create string 
# object and assigning value to it 
str2 = String.new "Testing 1234"
  
puts str2

In [32]:
# Ruby program to illustrate the 
# accessing of string 
# Access String Elements



# storing string in variable 
str = "CSEforISE337 Sudo Placements"

# accessing the specified substring 
puts str["CSE"]
puts str["hello"]
puts str['for'] 

# passing index as an argument which returns 
# the specified character 
puts str[3] 

# passing the negative index as an argument which 
# returns the specified character from the 
# last of the string 
puts str[-3] 

# passing Two arguments which are separated 
# by a comma that returns characters starting 
# from the 1st index and the 2nd index is the 
# number of characters 
puts str[14, 10] 

# using range operators in passed arguments 
puts str[14 .. 17]

CSE

for
f
n
udo Placem
udo

In [ ]:
# Ruby program to illustrate the 
# multiline strings 



# Using Double Quotes 
puts "In Ruby, a user can create the multiline 
	strings easily where in other programming 
	languages creating multiline strings 
	requires a lot of efforts" 
		
puts ""
		
# Using %/ / 
puts %/ In Ruby, a user can create the multiline 
	strings easily where into other programming 
	languages creating multiline strings 
	requires a lot of efforts/ 
		
puts ""
		
# Using <<STRING STRING 
puts <<STRING

In Ruby, a user can create the multiline 
strings easily where into other programming 
languages creating multiline strings 
requires a lot of efforts 
STRING

In [ ]:
# Ruby program to illustrate the 
# replication of strings 

# string to be replicate 
str = "CSE/ISE337\n"

# using * operator 
puts str * 7

In [ ]:
# String Conversion 
v1="5".to_i       # 5
v2="55.5".to_i    # 55
v3="55.5".to_f    # 55.5
puts v1
puts v2
puts v3
puts Integer("123")
puts "abc".to_i
puts "123-abc".to_i
puts "123-abc".to_f

##### Converting Data to String

In [ ]:
puts 25.to_s                    # "25"
puts (25.5).to_s                # "25.5"
puts ["Sammy", "Shark"].to_s    # "[\"Sammy\", \"Shark\"]"

In [ ]:
user = "Sammy"
calories = 100

print "Congratulations, " + user + "! You just burned " + calories.to_s + " calories during this workout."

#### String Concatination

In [ ]:
puts "I like" + " " + "chocolate"

# I like chocolate

In [ ]:
str = ""

str.concat("a")
str.concat("a")

str
# "aa"

In [ ]:
str = ""

str << "a"
str << "a"

In [ ]:
str.freeze
str.concat("b")
=begin
you cannot directly unfreeze the original string. 
Once a string is frozen in Ruby, it remains frozen and immutable for the lifetime of the program. 
This behavior is by design in Ruby.
=end

In [ ]:
# How to unfreeze
frozen_string = "hello".freeze

# Unfreeze using dup method
unfrozen_string1 = frozen_string.dup

# Unfreeze using clone method
unfrozen_string2 = frozen_string.clone

# Now, unfrozen_string1 and unfrozen_string2 are both unfrozen
puts unfrozen_string1.frozen?  # Output: false
puts unfrozen_string2.frozen?  # Output: false

In [ ]:
# string manipulation using insert method

original_string = "Hello, world!"
modified_string = original_string.insert(6, "beautiful ")
puts modified_string

In [ ]:
#chomp and chop
str = "hello\n"
puts str.chomp  # Output: "hello"
str = "hello"
puts str.chop  # Output: "hell"
str = ''
puts str.chomp

##### Arithmatic Operator

In [ ]:
# Ruby program to demonstrate 
# the Arithmetic Operators

# Addition
puts ("Addition:")
puts (10 + 20)

# Subtraction
puts ("Subtraction:")
puts (40 - 20)

# Division
puts ("Division:")
puts (100 / 20)

# Multiplication
puts ("Multiplication:")
puts (10 * 20)

# Modulus
puts ("Modulus:")
puts (20 % 7)

# Exponent
puts ("Exponent:")
puts (2 ** 4)

##### Comparison Operator

In [ ]:
# Ruby program to demonstrate 
# the Comparison Operators

puts "Equal To Operator:"
puts (10 == 20)

puts "Not Equal To Operator:"
puts (40 != 20)

puts "Greater than Operator"
puts (100 > 20)

puts "Less than Operator"
puts (10 < 20)

puts "Less than Equal To Operator"
puts (2 <= 5)

puts "Greater than Equal To Operator"
puts (2 >= 5)

puts "Combined combination operator"
puts(20 <=> 20)
puts(10 <=> 20)
puts(20 <=> 10)

##### Assignment Operators

In [ ]:
# Ruby program to demonstrate 
# the Assignments Operators

puts "Simple assignment operator"
puts a = 20

puts "Add AND assignment operator"
puts a += 10

puts "Subtract AND assignment operator"
puts a -= 5

puts "Multiply AND assignment operator"
puts a *= 10

puts "Divide AND assignment operator"
puts a /= 4

puts "Modulus AND assignment operator"
puts a %= 3

puts "Exponent AND assignment operator"
puts a **= 3

#### Bitwise operators

In [27]:
# Ruby program to demonstrate 
# the Bitwise Operators

# variables
a = 10
b = 20

puts "Bitwise AND operator"
puts (a & b)

puts "Bitwise OR operator"
puts (a |b)

puts "Bitwise XOR operator"
puts (a ^ b)

puts "Bitwise Complement operator"
puts (~a)

puts "Binary right shift operator"
puts (a >> 2)

puts "Binary left shift operator"
puts (a << 2)

Bitwise AND operator
0
Bitwise OR operator
30
Bitwise XOR operator
30
Bitwise Complement operator
-11
Binary right shift operator
2
Binary left shift operator
40

In [ ]:
# Ruby program to demonstrate 
# the Ternary Operator

# variable
marks_obtained = 100

# using ternary operator
result = marks_obtained > 40 ? 'Pass' : 'Fail'

# displaying output
puts result

In [ ]:
# Ruby program to demonstrate 
# the Range Operator


# using .. Operator
range_op = (7 .. 10).to_a

# displaying result
puts "#{range_op}"

# using ... Operator
range_op1 = (7 ... 10).to_a

# displaying result
puts "#{range_op1}"

In [ ]:
# Ruby program to demonstrate 
# the defined? Operator

# variables
CSE = 1
ISE = 70


puts ("define? Operator Results")

# using defined? Operator
# it returns constant
puts defined? CSE	

# it returns constant
puts defined? ISE 

# it returns expression
puts defined? a 
		
# it returns expression
puts defined? 50

### if statement/Control statement

In [ ]:
# Ruby program to illustrate if statement

a = 20

# if condition to check whether 
# your age is enough for voting
if a >= 18
puts "You are eligible to vote."
end

In [ ]:
# Ruby program to illustrate 
# if - else statement

a = 15

# if condition to check
# whether age is enough for voting 
if a >= 18
puts "You are eligible to vote."
else
puts "You are not eligible to vote."
end

In [ ]:
# Ruby program to illustrate the 
# if - else - if statement

a = 78
if a < 50
puts "Student is failed"

elsif a >= 50 && a <= 60
puts "Student gets D grade"

elsif a >= 70 && a <= 80
puts "Student gets B grade"

elsif a >= 80 && a <= 90
puts "Student gets A grade"
	
elsif a >= 90 && a <= 100
puts "Student gets A+ grade"
end

In [ ]:
# Ruby program to illustrate the 
# Ternary statement

# variable
var = 5;

# ternary statement
a = (var > 2) ? true : false ;
puts a

In [ ]:
# Ruby program to illustrate 'while' loop

# variable x
x = 4

# using while loop 
# here conditional is x i.e. 4
while x >= 1

# statements to be executed
puts "CSE337ISE"
x = x - 1

# while loop ends here
end

In [ ]:
# Ruby program to illustrate 'while' loop
#using do as a key word
# variable x
x = 4

# using while loop 
# here conditional is x i.e. 4
while x >= 1 do

# statements to be executed
puts "CSE337ISE"
x = x - 1

# while loop ends here
end

In [ ]:
# Ruby program to illustrate 'while' loop
# using \
# variable x
x = 4

# using while loop 
# here conditional is x i.e. 4
while x >= 1 \

# statements to be executed
puts "CSE337ISE"
x = x - 1

# while loop ends here
end

In [ ]:
# Ruby program to illustrate 'while' loop
# using ";"
# variable x
x = 4

# using while loop 
# here conditional is x i.e. 4
while x >= 1;

# statements to be executed
puts "CSE337ISE"
x = x - 1

# while loop ends here
end

###### for loop

In [ ]:
# Ruby program to illustrate 'for' 
# loop using range as expression

i = "Sudo Placements"

# using for loop with the range
for a in 1..5 do
	
puts i
puts a
end

In [28]:
# Ruby program to illustrate 'do..while'loop

# starting of do..while loop
loop do
	
puts "CSE/ISE"

val = 7
puts val
# using boolean expressions
if val == 7
    break
end

#val=val+1    
    
# ending of ruby do..while loop 
end
## Question : What is the output of this loop? How many iterations?

CSE/ISE
7

In [1]:
# Ruby program to illustrate 'until' loop

var = 7

# using until loop
# here do is optional
until var == 11 do

# code to be executed
puts var * 10
var = var + 1

# here loop ends
end

70
80
90
100

#### Case Statement

In [4]:
# Ruby program to illustrate the 
# concept of case statement 


print "Input from one, two, three, four: "

# taking input from user 
# str = gets.chomp 

# hardcoded input 
str = "two"

# using case statement 
case str 

# using when 
when "one"
puts 'Input is 1'

when "two"
puts 'Input is 2'

when "three"
puts 'Input is 3'

when "four"
puts 'Input is 4'

else
puts "Default!"

end

Input from one, two, three, four: Input is 2

In [3]:
# Ruby program to illustrate 
# case statement 


marks = 70

# marks is the input 
# for case statement 
case marks 

# using range operators .. 
when 0..32
puts "You fail!"

when 33..40
puts "You got C grade!"

when 41..60
puts "You got B grade!"

else
puts "You got A grade!"

end

You got A grade!

###### In case statement the when statement can contain multiple values and range(see above example).

In [6]:
# Ruby program to illustrate 
# how to use multiple values 
# in when statement 

choice = "5"

# using 'case' statement 
case choice 
	
	# here 'when' statement contains 
	# the two values 
	when "1","2"
		puts "You order Espresso!"
	
	when "3","4"
		puts "You order Short Macchiato!"
	
	when "5","6"
		puts "You order Ristretto!"
	
	when "7","8"
		puts "You order Cappuccino!"
	
else
	"No Order!"
end

You order Ristretto!

###### Break Statement

In [7]:
# Ruby program to illustrate break statement 

i = 1

# using while loop 
while true

	if i * 6 >= 30
		
		# using break statement 
		break
		
	# ending of if statement	 
	end
	
	puts i * 6
	i += 1
	
# ending of while loop 
end

6
12
18
24

###### next statement

In [8]:
# Ruby program to illustrate next statement 


# using for loop 
for t in 0...10

# using if statement 
if t == 5 then

	# using next statement 
	next

# ending of if 
end

# displaying values 
puts t 

# end of for loop 
end

0
1
2
3
4
6
7
8
9

0...10

###### Redo statement

In [9]:
# Ruby program to demonstrate the redo statement 

# defining a variable 
val = 0

# using while loop which should give 
# output as 0,1,2,3 but here it will 
# output as 0,1,2,3,4 
while(val < 4) 

# Control returns here when 
# redo will execute 
puts val 
val += 1

# using redo statement 
redo if val == 4

# ending of while loop 
end

0
1
2
3
4

###### BEGIN and END blocks

In [13]:
# Ruby Program of BEGIN and END Block 

# Ruby Program of BEGIN and END Block 

BEGIN { 
# BEGIN block code 
puts "BEGIN code block"
} 

END { 
# END block code 
puts "END code block"
} 
# MAIN block code 
puts "CSE/ISE337"

BEGIN code block
CSE/ISE337

In [14]:
# Ruby Program of BEGIN and END Block 

# BEGIN block 
BEGIN { 

a = 4
b = 3
c = a + b 
		
# BEGIN block code 
puts "This is BEGIN block code"
puts c 

} 
	
# END block 
END { 

a = 4
b = 3
c = a * b 
		
# END block code 
puts "This is END block code"
puts c 
} 
	
# Code will execute before END block 
puts "Main Block"

This is BEGIN block code
7
Main Block

#### Functions/Methods in Ruby

In [15]:
# Ruby program to illustrate the defining 
# and calling of method

#!/usr/bin/ruby

# Here geeks is the method name
def cse_ise_337

# statements to be displayed
puts "Welcome to 337 portal"

# keyword to end method
end

# calling of the method
cse_ise_337

Welcome to 337 portal

###### The following example needs further discussion
###### Variable ordering
###### Default variable

In [17]:
def greet(name = "World", greeting)
  puts "#{greeting}, #{name}!"
end

greet(greeting="Hello", name="Alice")  # Output: Hello, Alice!
greet("Bonjour")         # ArgumentError: wrong number of arguments (given 1, expected 2)

Alice, Hello!
Bonjour, World!

In [30]:
# Ruby program to illustrate the method 
# that takes variables number of arguments

#!/usr/bin/ruby

# defining method geeks that can 
# take any number of arguments
def cse_ise (*var)
	
# to display the total number of parameters
puts "Number of parameters is: #{var.length}"
	
# using for loop
for i in 0...var.length
	puts "Parameters are: #{var[i]}"
end
end

# calling method by passing 
# variable number of arguments
cse_ise "123", "456"
cse_ise "HelloWorld"

Number of parameters is: 2
Parameters are: 123
Parameters are: 456
Number of parameters is: 1
Parameters are: HelloWorld

0...1